## _Medical Insurance Costs_

Pada kasus ini, terdapat data tentang informasi kesehatan dan biaya yang harus dikeluarkan oleh asuransi kesehatan. Infomasi terkait dengan data _medical insurance cost_ adalah sebagai berikut,

1. Age: Usia penerima manfaat
2. Sex: Gender penerima manfaat (_male_, _femele_)
3. Bmi : Body Mass Index
4. Children: Jumlah anak/tanggungan yang dicover oleh pihak asuransi
5. Smoker: Status perokok (_yes_, _no_)
6. Region: Wilayah tempat tinggal penerima manfaat
7. Charges: Biaya yang dikeluarkan oleh asuransi

In [1]:
# Selayang pandang data Medical Insurance Costs
import pandas as pd

df = pd.read_csv('data/insurance.csv')

display(df.head())

display(df.corr())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

### Tantangan

Buatlah model regresi untuk memprediksi biaya yang harus dikeluarkan oleh pihak asuransi berdasarkan data. Validasi performa model regresi Anda dengan nilai ***R-squared ($R^2$)***

#### _Tasks_

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)
2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?
3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
4. (Hints) Anda dapat menggunakan nilai ***Variance Inflation Factor (VIF)*** untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.
5. Evaluasi model yang Anda buat dengan nilai $R^2$
6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus _medical insurance costs_?

#### (Hints) Interpretasi Nilai VIF

- 1 - variabel indenpenden tidak memiliki korelasi dengan variabel independen yang lain
- 1 < VIF < 5 - variabel independen sedikit memiliki korelasi dengan variabel independen yang lain
- VIF > 5 - variabel independen memiliki korelasi yang kuat dengan variabel independen lainnya
- VIF > 10 - variabel independen miliki korelasi yang sangat kuat dengan variabel independen dan perlu diperhatikan lebih lanjut

#### (Hints) Implementasi Perhitungan VIF

VIF dapat dihitung secara langsung dengan menggunakan library dari `statsmodels`

#### (Hints) Scatterplot Korelasi Antar Variabel

![var_cor](assets/var_corr.png)

Jawaban Kuis

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import pandas, numpy, sklearn seperti di atas

In [3]:
# Read Data
df = pd.read_csv('D:/bagus/KULIAH/Semester 5/pem mesin/jobsheets-master/JS04_KUIS_1/data/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

memasukkan data yang berada di inurace.csv
lalu dibuat data frame

In [4]:
label_sex = {
    'male': 1,
    'female': 0
}

label_smoker ={
    'yes' : 1,
    'no' : 0
}

label_region ={
    'northwest' : 0,
    'southwest' : 1,
    'southeast' : 2,
    'northeast' : 3 
}

df['sex'] = df['sex'].map(label_sex)
df['smoker'] = df['smoker'].map(label_smoker)
df['region'] = df['region'].map(label_region)


df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

membuat mapping atau keterangan dari katergorinya (sex, smoker, region) di tabelnya

In [5]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X = df[['age', 'bmi', 'region','sex', 'smoker', 'children']]
  
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# unruk menghitung VIF
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

    feature       VIF
0       age  7.588734
1       bmi  9.938670
2    region  2.789478
3       sex  2.002652
4    smoker  1.261195
5  children  1.799980

dari data sebelumnya, membuat tabel lagi dengan variabel x dengan data frame isinya ( age, bmi, region, sex, smoker, children)
lalu  untuk mengetahui tingkat multicollinearity pada sebuah variabel independent menggunakan VIF serta membuat data framenya

In [6]:
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[1], axis=1)
df.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

drop table dari tabel sebelumnya yang memiliki nilai

In [7]:


databaru = df
databaru.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

di atas adalah tabel yang sudah di modifikasi

In [8]:
X = databaru.iloc[:, :-1].values
y = databaru.iloc[:, 4].values

In [9]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.1, random_state=10)

In [10]:
y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [11]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

In [12]:
gabung = np.concatenate((ym_test, ym_pred))
gabung

array([ 7281.5056    ,  5267.81815   , 12347.172     , 24513.09126   ,
        3736.4647    ,  7358.17565   ,  9788.8659    , 17085.2676    ,
        8211.1002    , 19798.05455   ,  3077.0955    ,  3385.39915   ,
        6837.3687    ,  8538.28845   , 26392.26029   , 13012.20865   ,
        3227.1211    , 15170.069     , 11073.176     , 20773.62775   ,
       39556.4945    ,  2134.9015    ,  2198.18985   ,  6555.07035   ,
        4340.4409    , 12622.1795    ,  7740.337     , 12475.3513    ,
        3987.926     , 21082.16      ,  1241.565     , 40103.89      ,
       17929.30337   ,  8302.53565   ,  3471.4096    ,  5846.9176    ,
       13352.0998    ,  9144.565     , 25656.57526   ,  7726.854     ,
       13887.9685    , 30284.64294   ,  5266.3656    , 12797.20962   ,
        1146.7966    ,  7046.7222    ,  8627.5411    , 39597.4072    ,
       12323.936     , 11454.0215    , 40904.1995    ,  3171.6149    ,
        7445.918     , 13607.36875   , 27346.04207   , 12557.6053    ,
       10797.3362    ,  5488.262     ,  6282.235     , 40941.2854    ,
        1708.0014    , 23306.547     , 28950.4692    ,  1664.9996    ,
       17361.7661    ,  7345.084     , 18157.876     ,  7256.7231    ,
        7626.993     , 26236.57997   ,  7325.0482    ,  1720.3537    ,
        7153.5539    ,  6986.697     ,  8232.6388    , 10370.91255   ,
        4889.0368    ,  6474.013     ,  1625.43375   , 10115.00885   ,
       10264.4421    ,  9386.1613    , 18223.4512    ,  3561.8889    ,
       23887.6627    ,  3392.9768    ,  1135.9407    ,  1880.487     ,
        5630.45785   , 10156.7832    , 22144.032     , 62592.87309   ,
        9500.57305   , 46113.511     , 13390.559     ,  4076.497     ,
        6389.37785   ,  9880.068     ,  4751.07      , 12629.8967    ,
        6664.68595   , 21344.8467    , 22395.74424   ,  4466.6214    ,
        9249.4952    ,  8703.456     , 38245.59327   , 36189.1017    ,
       19023.26      ,  5080.096     ,  9957.7216    ,  6313.759     ,
        4151.0287    , 17748.5062    , 37133.8982    , 21472.4788    ,
        4350.5144    , 41661.602     ,  6985.50695   , 23241.47453   ,
       39983.42595   ,  9174.13565   ,  6710.1919    ,  1633.9618    ,
       47055.5321    ,  2899.48935   , 12231.6136    ,  5138.2567    ,
        4646.759     , 12913.9924    , 24476.47851   , 27808.7251    ,
       18033.9679    , 25309.489     ,  9697.83123725,  7480.74218735,
        8155.27192492,  7683.33086937,  7480.74218735,  8523.65489368,
       11212.68499914, 32293.25613955,  9161.39023597, 33133.58016386,
        8793.00726721,  7784.62521038,  7618.83092364, 10001.71426028,
        8523.65489368,  7480.74218735,  8422.36055267,  9633.33129152,
        7582.03652836, 32228.75619382, 32228.75619382,  7480.74218735,
        7784.62521038,  8523.65489368,  9161.39023597,  7480.74218735,
        8894.30160822,  9697.83123725,  9060.09589496, 32026.1675118 ,
        7416.24224162, 32765.1971951 ,  7683.33086937,  9096.89029024,
        8256.56626593,  9161.39023597,  7314.94790061,  7416.24224162,
        7784.62521038,  8894.30160822,  7683.33086937,  8793.00726721,
        7480.74218735,  7784.62521038,  7517.53658263,  8422.36055267,
        8357.86060694, 33706.81556042,  7618.83092364,  7480.74218735,
       32394.55048056,  7683.33086937,  8155.27192492,  9262.68457698,
        7517.53658263,  7517.53658263,  8523.65489368,  8155.27192492,
        8155.27192492, 33771.31550615,  7618.83092364, 32765.1971951 ,
       31351.63777423,  7517.53658263, 32663.90285409,  7582.03652836,
        8793.00726721,  8793.00726721,  8321.06621166,  8321.06621166,
        7784.62521038,  8256.56626593,  8219.77187065,  8793.00726721,
        8422.36055267,  9262.68457698,  7683.33086937,  7582.03652836,
        7314.94790061,  9697.83123725,  9532.03695051,  8256.56626593,
       33771.31550615,  8422.36055267, 32090.66745753,  8422.36055267,
        7517.53658263,  7582.03652836,  8219.77187065,  8958.80155395,
       31287.1378285 , 31388.43216951,  9835.91997354, 32930.99148184,
        7416.24224162,  8155.27192492,  8053.97758391,  8321.06621166,
        8155.27192492,  7683.33086937,  8053.97758391,  7784.62521038,
        9262.68457698,  9697.83123725,  8219.77187065,  8155.27192492,
       32127.46185281, 33706.81556042, 35148.08053175, 11111.39065813,
        8357.86060694,  9161.39023597,  8422.36055267, 31351.63777423,
       31554.22645625, 34141.9622207 ,  8422.36055267, 32191.96179854,
        9835.91997354,  9096.89029024, 33568.72682413,  7314.94790061,
        8793.00726721,  7683.33086937, 31388.43216951,  7784.62521038,
        7480.74218735,  9900.41991927,  7416.24224162,  8357.86060694,
        7314.94790061, 31554.22645625, 31351.63777423, 33504.2268784 ])

In [13]:

r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.545824624130435

di atas adalah hasil dari hitungan $R^2$